extends layout

block content
  div.jumbotron.text-center
    h1 Bienvenidos a Gimnasio MEGAFUXION
    br
    ul.list-group
      li.list-group-item
        a(href="/entrenadores") Entrenadores
      li.list-group-item
        a(href="/productos") Productos
      li.list-group-item
        a(href="/promociones") Promociones