extends layout

block content
    h2.form-signin-heading Usuarios
    h5  
        a(href="/") Home 
    br
    br
    table.table
                    thead
                        tr
                            th ID
                            th Nombre
                    tbody
                        for item in data
                            tr
                                td= item._id
                                td= item.nombre
                                td 
                                    a(href="/promociones/edit/#{item._id}").btn.btn-large.btn-success Editar
                                    a(href="/promociones/delete/#{item._id}").btn.btn-large.btn-danger Eliminar
    
    a(href="/promociones/create").btn.btn-large.btn-primary Crear nueva Promocion
    